distrax==0.1.2
flax==0.7.0
transformers==4.33.1
dlimp @ git+https://github.com/zhouzypaul/dlimp@2df85dc98a7d564fc9c7c5ff2bfda26361526483
einops==0.6.1
wandb==0.15.5
tensorflow==2.13.0
ml-collections==0.1.0
jax==0.4.11
optax==0.1.5
diffusers==0.18.2
ml-dtypes==0.2.0
pyyaml-include
slack_sdk
Pillow==10.1
rospkg==1.5.0
